<!-- Page Content -->
<style type="text/css">
  h1 span{
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;
  color: #778899;
}


</style>
<div class="container" style="background-color: #F5FFFA; position:absolute;left:0;width:100%;height:100%;">

    <div class="center hero-unit">
      <h1><span>Добро пожаловать на FFS Data Base!</span></h1>
      <%= link_to image_tag("logo.png", alt: "Rails", class:"img-rounded", size: "300x300"), '/' %><br>
      <% if user_signed_in? %>
        <h2 class="lead" style = "color: #778899;margin-top: 5%;">
        Вы находитесь на главной странице приложения. Для добавления и изменения данных воспользуйтесь навигационным меню.<br>
        Для загрузки данных из файла перейдите по<%= link_to 'ссылке', new_measurement_path, :class => 'btn btn-link btn-m'%>
        </h2><br>

        <br>
      </h2>
      <% else %>
        <h2 class="lead" style = "color: #483D8B;margin-top: 5%;">
        Для добавления и изменения данных <%= link_to 'Авторизуйтесь', new_user_session_path, :class => 'btn btn-info btn-s' %><br>

        или <%= link_to 'Зарегистрируйтесь', new_user_registration_path, :class => 'btn btn-info btn-s'%>
      </h2>
      <% end %>



    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
